<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- Console log appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	 	<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level: %msg%n</pattern>
		</encoder>
	</appender>
<!-- Normal file log appender -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/updater/debug.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>
</configuration>